@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #333;
  box-sizing: border-box;
  scrollbar-width: thin;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
  

html {
  scroll-behavior: smooth;
}

.navbar {
  padding: 20px;
  margin: 0;
  background-color: rgb(52,72,90);
  font-weight: bold;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 200;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  transition: background-color 0.3s ease-in-out;
}

.navbar.fixed {
  background-color: rgb(69, 95, 118);
}

.navbar h1 {
  @apply text-white; 
  border: 0;
  padding: 4px;
  font-size: 1.7rem;
}
.links{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a {
  text-decoration: none;
  @apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 p-2;
}
.navbar ul{
  @apply hidden md:flex;
  text-decoration: none;
  padding: 9px;
  font-size: large;
  @apply text-white;
}
.navbar li{
  @apply md:flex;
  text-decoration: none;
  font-size: large;
  @apply text-black gap-6 flex-col text-center;
}
.mobile-nav-close {
  @apply flex h-[100vh] w-full bg-white items-center justify-center fixed inset-0 -translate-x-full; 
  transition: transform 0.3s ease-in-out;
}
.mobile-nav-open {
  @apply flex h-[100vh] w-full bg-white items-center justify-center fixed inset-0 translate-x-0; 
  transition: transform 0.3s ease-in-out;
  z-index:200;
}
.content {
  margin: 40px auto;
}
.hero-main{
  @apply items-center flex-col pt-32 pb-20 md:flex-row flex gap-14 md:gap-40 relative justify-center;
}
.hero-text{
  @apply flex flex-col max-w-[50rem] relative text-[20px] text-center
}

#linkedin{
  @apply items-center flex relative 
  justify-center h-6 w-6 bg-cover [text-indent:-999px] mt-[15px]
  transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300
}
#github{
  @apply  items-center flex relative justify-center h-6 w-[1.53rem] 
  bg-cover [text-indent:-999px] mt-[15px]
  transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300
}
.home span{
  @apply flex gap-4 justify-center
}
.contents{
  @apply flex
}
.aboutAll{
  @apply mt-[150px] items-center justify-center flex flex-col md:flex-row text-center;
}

.aboutText{
  @apply md:w-[90%] md:text-left items-center pr-5 pl-5 md:pr-20 md:pl-20
}
.aboutText h2{
  @apply pt-4 pl-2 text-[1.4rem] items-center text-center md:text-left text-green-700 font-bold
}
.aboutText h3{
  @apply pt-6 md:pt-12 pl-2 text-[1.2rem] items-center md:text-left font-bold
}
.aboutText p{
  @apply md:pl-2 pt-8 text-[1.1rem] items-center md:text-left 

}
.moreInfo{
  @apply mt-12 flex gap-12 md:gap-20 items-center flex-col md:flex-row 
}
.contactAll h3 {
  font-size: 1.4rem;
}
.contactAll{
  @apply flex flex-col mt-[100px] md:pt-24 pb-40 text-[1.1rem] items-center;
}
.contact{
  @apply text-center md:text-left 
}
.contactInfo span{
  display: flex;
}
.mail{
  display: flex;
  flex-direction: column;
}
.mailAll{
  @apply flex items-center gap-4
}

.number{
  @apply flex gap-[0.1rem] flex-col 
}
.numberAll{
  @apply flex items-center gap-4
}
.footerAll{
  @apply px-[0] py-16 md:pl-64 md:pr-80;
  background-color: rgb(35, 49, 60);

}
.footerAll h3 {
  @apply text-[white] text-[larger];
}

.footer1{
  @apply md:flex text-center justify-center md:justify-between flex-wrap md:flex-row gap-8;
  display:flex;
}

#linkedin2{
  @apply flex items-center h-[1.4rem] w-[1.4rem] bg-cover [text-indent:-999px] 
  transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300
}
#instagram{
  @apply bg-cover flex items-center h-8 w-8 [text-indent:-999px] rounded-[100%] border-[white] 
  transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300
}
.footerSocial{
  @apply items-center flex gap-4
}
